<html>
<head>
	<!-- Bootstrap CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='container'>

		<div class='row'>
			<h1>MyFace</h1>
		</div>

		<div class='row'>
			<div class='col-sm-4' style='text-align:right'>
				<h3 style='text-align: center'>Register</h3><br>
				<% if @errors %>
					<% @errors.each do |error| %>
						<p style='color:red'><%= error %></p>
					<% end %>
				<% end %>
				<% if @success %>
					<h4 style='color:green'><%= @success %></h4>
				<% end %>
				<form action='/users' method='post' enctype='multipart/form-data'>
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<label>First Name</label>
					<input type='text' name='user[first_name]'><br>
					<label>Last Name</label>
					<input type='text' name='user[last_name]'><br>
					<label>Email</label>
					<input type='text' name='user[email]'><br>
					<label>Password</label>
					<input type='password' name='user[password]' placeholder='minimum 7 characters'><br>
					<label>Confirm Password</label>
					<input type='password' name='user[password_confirmation]'><br>
					<label class='pull-left'>Profile Picture</label>
					<input type='file' name='user[profile_pic]'><br>
					<input type='submit' value='Register' class='btn btn-primary'>
				</form>
			</div>
			<div class='col-sm-4' style='text-align:right'>
				<h3 style='text-align: center'>Login</h3><br>
				<form action='/sessions' method='post'>
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<label>Email</label>
					<input type='text' name='session[email]'><br>
					<label>Password</label>
					<input type='password' name='session[password]'><br><br>
					<input type='submit' value='Log In' class='btn btn-primary'>
				</form>
			</div>
		</div>

	</div>

</body>
</html>
